/**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */

html{
	width:100%;
	background-color:#d6d5d3;

/*
/* IE10 Consumer Preview 
background-image: -ms-linear-gradient(top, #519BDB 0%, #FFFFFF 100%);

/* Mozilla Firefox
background-image: -moz-linear-gradient(top, #519BDB 0%, #FFFFFF 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #519BDB 0%, #FFFFFF 100%);

/* Webkit (Safari/Chrome 10) 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #519BDB), color-stop(1, #FFFFFF));

/* Webkit (Chrome 11+) 
background-image: -webkit-linear-gradient(top, #519BDB 0%, #FFFFFF 100%);

/* W3C Markup, IE10 Release Preview
background-image: linear-gradient(to bottom, #519BDB 0%, #FFFFFF 100%);

*/

}


#sb-wrapper {
	min-width:662px !important;
	left:27% !important; 
}

/*-----------------------------------
	Myriad font
--------------------------------*/

@font-face {
	/*font-family: MYRIADPRO-REGULAR;
	src: url('../stark_font/MYRIADPRO-REGULAR.OTF'); */
}	
	


.float {
	float:left;
}

/*
 * Body
 */
body {



/*font:0.75em "Arial", "Helvetica", sans-serif; */



font-family:Calibri;
font:Calibri;

/*
font:Calibri, "Californian FB", "Bauhaus 93", "Matura MT Script Capitals"; 
*/
/* vertical-align:baseline; */

}



/* TEMPORARY */
.front #admin-menu {
	/*display:none;*/
}



.slideshow-back-strip {
	position:absolute;
	left:0px;
	width:100%;
	height:554px;
	background-color:#B2B2B2;
	z-index:-1;
	top:0px;
} 


#page-wrapper,
.region-page-closure {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}


#page-wrapper {
	width:100%;
}


#page {
	width:100%;
	margin:auto;
}

/*
#breadcrumb {
	display:inline-table;
	width:100%;
}

#breadcrumb .breadcrumb {
	background-color:white;
	background-color:rgba(255,255,255,0.7);
}

#breadcrumb .breadcrumb a {
	color:black;
	font-weight:bold;
	font-size:12px;
	padding:5px;
}
*/

.messages {
	font-size:13px;

}

#navigation, #main-wrapper , #search-box{
	width:1000px;
	margin:auto;
}

#edit-lang-dropdown-select_child .selected {
	
	display:none !important;
}

#main-wrapper {
	
}


input{
	border:solid 1px black;
}

a {
color:#006ec0;
text-decoration:none;
font-size:15px;
}

a:hover {
text-decoration:underline;
color:#09C;

}


.apply-icon{
	text-decoration:none;
	font-weight:200;
	color:white;
	font-size:14px;
	background-color:#005da8;
	letter-spacing:0px;
	padding:1px 5px 1px 5px;
	/* margin-left:8px; */
}

.apply-icon:hover {
	color:white;
}


/*--------------------------------
	Language
--------------------------------------*/	
.dd {
	background:none;
}

.dd .ddTitle {
	background:none !important;
	border:none !important;
	padding:1px !important;
	background-color:rgba(0,0,0,0.3);
	color:white !important;
	font-size:11px;
	cursor:pointer;
}


.dd .ddTitle span.arrow {
	background:url(../stark_images/language_arrow.png) no-repeat 0px 5px !important;
}

.dd .ddTitle span.ddTitleText {
	float:right;
	margin-right:5px;
}

.dd .ddChild {
	background:#6c6c6c !important;
}

.dd .ddChild a {
	color:white;
	font-size:12px;
}

.dd .ddChild a:hover {
	background:#000000;
}

.dd .ddChild a.selected {
	background:none !important;
}

/*--------------------------------
	Language Ends here
--------------------------------------*/	


h2 {
	background: url(../stark_images/main-title-arrow.png);
	background-repeat: no-repeat;
	background-position: right;
	display: inline-block;
	padding-right: 15px;
}


.blue {
	color:#0053a3;
}


.share-icon {
	background:url(../stark_images/jobpost_application_sprite.png);
	background-position:0px -35px;
	display:inline-block;
	width:30px;
	height:40px;
	background-repeat:no-repeat;
	float:right;
	margin-top:-7px;
	margin-right:4px;
}

.form-submit{
	background-color:#005ea8;
	border:none;
	color:white;
	font-weight:bold;
	padding:5px 10px 5px 10px;
	width:150px;
	cursor:pointer;
	
}

.form-submit:hover {
 /*background-color:#0967bb;*/
background-color:#0774ca;
}

.orange {
	color:#fb8a12;
}


.item-list .pager{
	background-color:#999999;
	color:white;
	border:solid 1px black;
	width:auto;
	float:right;
	font-weight:bold;
	font-size:12px;
	margin-top:20px;
	padding:5px 0px 5px 0px;

}

.item-list .pager li {
	padding:0px;
}


.separator {
	height:1px;
	display:inline-block;
	width:100%;
	background-color:#666666;
	color:#999999;
}

.alt-blue {
	color:#006699;

}


.profile-link {

	font-weight:bold;
	font-size:14px;
	margin-left:10px;
}


/*--------------------------------------------------------------
	Feeds
---------------------------------------------------------*/

.block-aggregator .item-list ul li {
	list-style:none;
	margin:0px;
	padding:0px;
	height:22px;
	overflow:hidden;
}

.block-aggregator {
	float:left;
	width:300px;
}	

.block-aggregator .content{
	line-height:8px;
	
}

#block-aggregator-feed-2 .content{
margin-top:11px;
}

#block-aggregator-feed-2 .icon {
	background-position:0px 5px;
	display:block;

}



.block-aggregator a {
	font-size:12px;
	font-weight:bold;
	line-height:25px;
	color:#005DA8;
}

/*--------------------------
	REMEMBER TAKE OUT !
--------------------------------*/	
	
.block-aggregator .more-link{
	display:none;
}

/*------------------------------------------
	Language fixes
----------------------------------------------*/

.i18n-zh-hans #search .form-item label	{
	margin-right:0px;
}





