/*-------------------------------


	Files.css


-------------------------------------*/


.section-filterfiles table {
	width:100%;
}

.file-instance {
	background-color:white;
	padding:5px;
	margin:10px 0px 10px 0px;
	
}


.back-link {
	background-color:white;
	width:100px;
	margin:10px 0px 10px 0px;
	padding:5px;	
	
}
.section-filterfiles table tr{
	height:50px;	
}


.section-filterfiles .admin-create-file {
	background-color:white;
	padding:5px;
	width:100%;
	margin:20px 0px 20px 0px;
}

