/*
#twitter{ background-position:-30px 0px; } 
#twitter:hover{ background-position:-30px -35px; } 

#facebook{background-position:0px 0px; }
#facebook:hover{background-position:0px -35px;}

#links{background-position:-60px 0px; }
#links:hover{background-position:-60px -35px; }

*/

#footer{
	width:100%;
	display:inline-table;
	margin:auto;
	margin-top:10px;
}


#footer #address p {
 margin:2px 0px 2px 0px;
}

#footer .menu-title {
	width:100%;
	color:#d2d2d2;
	display:inline-block;
	margin-bottom:10px;
	font-size:13px;
}


#footer ul{
	padding:0px;
}	

#footer #phone .subtitle {
	min-width:72px;
	display:inline-block;
}


#footer #address {
	width:260px;
	float:left;
	min-height:80px;
}



#footer .address-mail{
	margin-top:8px;
	display:inline-table;	
}

#footer #site-map {
	width:185px;
}


#footer #members{
	width:205px;
}

#footer #company-contact{ width:300px; }

#footer a,
#footer ul li {

	width:100%;
	color:white;
	font-size:11px;
}

#footer ul li {	list-style:none; }




#footer #network {
	width:276px;
}

#footer #footer-network {
	height:115px;
	background-color:#414141;
	width:1000px;
	margin:auto;
	margin-bottom:20px;
	border-radius:10px;
	box-shadow:0px 0px 5px black;
}



#network > div {
	margin-left:73px;
	margin-top:20px;
}

#footer-network > div {
	float:left;
	min-height:100px;
	padding:10px 0px 0px 0px;
	width:450px;
	color:white;
	font-size:11px;
}

#footer-network #linkedin{
	background-position:0 0px;
	padding-left:45px;
	padding-top:10px;

}

#footer-network #viadeo{
	background-position:0 -37px;
	padding-left:45px;
	padding-top:10px;

} 


#footer-network .contact{
	display:inline-block;
	background:url(../stark_images/footer_contact_sprite.png);
	background-repeat:no-repeat;
	cursor:pointer;
	color:#333333;
	font-size:12px;
	height:22px;
	font-weight:bold;
	margin-right:8px;

}


#footer-network .contact-icon{
	background:url(../stark_images/footer_contact_sprite.png);
	padding-left:40px;
	background-position:0px -200px;
	display:inline-block;
	height:40px;
	background-repeat:no-repeat;
	padding-top:10px;
	font-weight:bold;
	font-size:16px;
	
}





/*---------------------------------------------------------------
		Footer bottom
-------------------------------------------------------------------*/
		
#footer-bottom .rights span {
	padding:10px;
}





#footer #footer-bottom {
	margin:auto;
	width:990px;
	color:white;
	background-color:#414141;
	font-size:12px;
	padding:5px;
	margin-bottom:10px;
	box-shadow:0px 0px 5px black;
	border-radius:10px;
}




#footer-bottom .rights {
	color:white;
	text-align:center;
	width:100%;
	margin-top:5px;
}



/*
#footer-network .title {
	color:#333333;
	font-size:18px;
	font-weight:bold;
	display:inline-block;
	width:100%;
	margin-bottom:10px;
	padding-bottom:3px;
	border-bottom:solid 1px gray;

}

#footer-network p{
	font-size:12px;
	color:#333333;
}






#footer-network .byline{
	font-size:12px;
	font-style:italic;
	color:#666666;

}

*/



/*
#footer-network #email {
	padding-left:40px;
	padding-top:6px;
	margin-top:5px;
	
	
}

#footer-network #phone {
	padding-left:50px;
	background-position:0px -30px;
	height:35px;
	padding-top:8px;
	margin-top:10px;

}


#footer-network #phone > span {
	font-weight:400px;
	width:100%;
	display:inline-block;
	font-weight:400;
	height:15px;
	cursor:auto;
}


#footer-network .contact:hover {
	text-decoration:underline;

}

#footer-tags {
	width:1000px;
	margin:auto;
	border-radius:10px;
	color:#333333;
	font-size:12px;
	margin-bottom:10px;
}

#footer-tags span{
	display:inline-block;
	padding:10px;
	}
	
	
#footer-tags .tags-container{	
	text-align:center;
	margin:auto;

}	

*/






