/*

	Name:forum .css

	Styling for the forum section


*/


#forum > table {
	width:1000px;
}


.page-forum .forum-header{
	margin-bottom:20px;	
	
}

.page-forum #forum table tbody td {
	
	padding:10px;
}

.node-type-forum .forum-topic-navigation{
	display:none;	
	
}

#forum .links{
	padding:10px;
	margin-bottom:10px;
	background-color:#414141;
	border-radius:5px;
} 


#forum .icon {
	padding:15px;

}


.section-comment #content .terms,
.node-type-forum #content .terms {
	background-color:#414141;
	width:975px;
	padding:5px;
	border-radius: 15px;
	display: block;
	color: #006ec0;

}

.section-comment .comment_add,
.node-type-forum .comment_add {
	border-bottom:solid 1px gray;
	width: 100%;
	display: block;
	background-color:white;
}


.node-type-forum .forum-topic-navigation {
	background-color:white;
	padding:3px;
	margin:10px 0px 10px 0px;
}

#comments {
	margin-left:20px;

}

.comment {
	border: solid 1px gray;
	padding: 0px 5px 5px 5px;
	margin-bottom:5px;

}

.comment h3{
	margin:5px;
}

.comment .submitted {
	font-size:12px;
	
}

.comment .links {
	background-color:white;
}

.comment-unpublished{

	padding:0px 5px 0px 5px;
	background-color:#f9d2d2;
	
}

