.front .slideshow {
	min-height:560px;
	margin-top:-101px;
	margin-left:-175px;
	z-index:-1;
}



.front #content-top {
	margin-top:5px;
}

.front .slideshow-container {
	width:100%;
	position:relative;
	display:inline-table;
}


.front .no-jobs{
	margin-left:20px;
	font-size:14px;
}
.front #main-wrapper h2 {
	color:#202020;
	margin:0px;
	font-size:18px;
	font-weight:400;

}


#block-stark_content-2 h2,
.front #main-wrapper .main-content h2{
	background:url(../stark_images/main-title-arrow.png);
	background-repeat:no-repeat;
	background-position:right;
	display:inline-block;
	padding-right:15px;

}


.front #main-wrapper .main-content h2 {

}

.front #slideshow-strip-hide {
	width:100%;
	background-color:#d6d5d3;
	height:20px;
	margin-top:-9px;

}

.front .slideshow .slideshow-label {
	position: absolute;
	display: inline-block;
	z-index: 500;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.7);/* RGBa with 0.6 opacity */
	color: white;
	left:175px;
	padding: 10px;
	font-size: 13px;
	letter-spacing: 1px;
	bottom:0px;
	width:980px;
	text-align:justify;
	line-height:20px;
	border-radius:8px;
}


.front .slideshow-container .slideshow-arrows {
	background:url(../stark_images/frontpage_slideshow_arrows_sprite.png);
	width: 35px;
	height: 400px;
	position: absolute;
	top: 0px;
	z-index: 300;
	background-repeat:no-repeat;
	cursor:pointer;
	
}


.front .slideshow-container #slideshow-prev {
	left:-15px;
	background-position:20px 0px;
}
.front .slideshow-container #slideshow-next{
	background-position:-175px 0px;
	right:-15px;
} 



.front .slideshow-nav-container{
	display:inline-table;
	height:30px;
	width:20%;
	position:absolute;
	bottom:18px;
	z-index:20;
	right:20px;
}



.front #slideshow-nav{
	float:right;
}

.front .slideshow-label-text {
	width:88%;
	display:block;
}


.front #slideshow-nav a {
	width:2px;
	height:2px;
	background-color:white;
	display:inline-block;
	color:white;
	padding:5px;
	text-align:center;
	margin-right:10px;
	color:#666666;
	border-radius:3px;

}

.front #slideshow-nav .activeSlide{
	background-color:#005daa;

}


.title-icon,
#block-aggregator-feed-2 .icon {
	background-image:url(../stark_images/frontpage_bottom_sprite.png);
	background-repeat:no-repeat;
	display:inline-block;
	width:20px;
	height:20px;
	float:left;


}



.front #jobpost-container {
	height:200px;
}
.front #jobpost-container .icon {
	background-position:0px;
}



.front #bid-link, .front #contact-link {
	margin-top:10px;
	display:block;
}

.front #bid-link { margin-bottom:40px;}

.front #main-text-link {
	display:inline-block;

}


.front #jobpost-container h2 {
	margin-left:20px;
}



.front .main-content .main-text {
	width:325px;
	padding:0px 10px 0px 0px;
	float:left;
	margin-bottom:30px;

}


.front #jobpost-container {
	display:inline-table;
}


/*
.front .right-title {
	float:left;


}
*/


.front .main-content{
	width:670px;
	float:left;
	margin-left:20px;
}




.front .main-content .main-text a{
	font-weight:bold;
}



.front .main-content .main-text .main-text-container {
	font-size:15px;
	text-align:justify;
	border-right:solid 3px gray;
	padding-right:14px;
	margin-bottom:0px;
	margin-top:15px;

}


#about-content .main-text-container{
	min-height:205px;
	
}

.front .main-content .main-text p{
	display:inline;
	
}




.front #block-stark_content-0 h2 {
	font-size:17px;
	border-bottom:none;
	color:#FFFFFF;
	margin-top:0px;
}


/*--------------------------------------------------------------
	JobPosts
------------------------------------------------------------------*/	



/*---------------------------------------------------------
	JCarousel Override theme
--------------------------------------------------------------------*/	

.jcarousel-skin-default {text-align:left !important;}

.jcarousel-skin-default .jcarousel-container-horizontal{
	width:922px !important;
	margin-left:-23px !important;
}


.jcarousel-skin-default .jcarousel-next-horizontal {
	top:20px !important;
	right:-27px !important;
}

.jcarousel-skin-default .jcarousel-prev-horizontal{
	top:20px !important;
	left:20px !important;
	display:inline-block !important;
}


.jcarousel-skin-default .jcarousel-clip-horizontal {width:954px !important;}

.jcarousel-skin-default .jcarousel-next, .jcarousel-skin-default .jcarousel-prev {
	background-image:url(../stark_images/frontpage_slider_sprite.png) !important;
	background-repeat:no-repeat !important;
	height:130px;

}

.jcarousel-skin-default .jcarousel-next{ background-position:0px -148px; }
.jcarousel-skin-default .jcarousel-next-horizontal:hover { background-position:0px -148px; }



.jcarousel-skin-default .jcarousel-prev-horizontal:hover { background-position:0px 0px;}


.front .nocarousel-item ,
.front  .jcarousel-item {
	width:127px !important;
	height:128px !important;
	background-color:#B2B2B2;
}


.front .mycarousel {
	margin-top:-5px;
	display:inline-table;
}

.front .nocarousel-container {
	margin:10px 10px 0px 10px;
}

.front .nocarousel-item {
	float:left;
	list-style-type:none;
	margin-right:8px;
}



.view-JobPost label {
	font-size:12px;
	color:#666666;
}



#jobpost-container ul li {
	list-style:none;
	width:127px;
	height:128px;
	background-color:#B2B2B2;

}

#jobpost-container .jobpost {
	padding:5px;


}



#jobpost-container .jobpost .application .apply-icon:hover {
	text-decoration:underline;
	background-color:#006ec0;
}

#jobpost-container .jobpost a:hover {text-decoration:underline;}

#jobpost-container #job-post-separator{
	height:1px;
	background-color:#666666;

}


#jobpost-container .jobpost > span {
	display:inline-block;
	width:100%;
	margin:0px 0px 4px 0px;
	font-size:12px;
	
}

#jobpost-container .jobpost .experience {  font-size:12px; }

#jobpost-container .jobpost .title { margin-bottom:4px; font-size:12px;}

#jobpost-container .jobpost .subtitle {
	display:inline-block;
	margin-right:2px;
}

#jobpost-container .jobpost .application { margin-top:4px; }





/*---------------temp ---------*/

/*
#makeMeScrollable
		{
			width:100%;
			height: 330px;
			position: relative;
		}
		
		/* Replace the last selector for the type of element you have in
		   your scroller. If you have div's use #makeMeScrollable div.scrollableArea div,
		   if you have links use #makeMeScrollable div.scrollableArea a and so on. 
		#makeMeScrollable div.scrollableArea img
		{
			position: relative;
			float: left;
			margin: 0;
			padding: 0;
			/* If you don't want the images in the scroller to be selectable, try the following
			   block of code. It's just a nice feature that prevent the images from
			   accidentally becoming selected/inverted when the user interacts with the scroller. 
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
		}
		
		*/
















	



