#header{
	width:100%;
	display:inline-table;	
}


#block-header {
	width:1000px;
	margin:auto;
	height:97px;
	background-color:#000000;
	background-color:rgba(0,0,0,0.7);
	border-radius:8px;
	margin-top:-15px;
}

/*-----User section ----*/

#header .header-top {
	display:block;
	width:100%;
	color:#333333;
	height:30px;
}

#header .header-bottom {
	position:relative;

}

#header .header-top .user-section {
	float:right;
	padding-top:10px;
	margin-right:35px;
	color:white;
}

#header .header-top .user-section a{
	color:white;
	text-decoration:none;
	font-size:12px;
}

#header .header-top .user-section a:hover{
	text-decoration:underline;

}


/*-----Language drop down-----*/


.header-logo {
	display:inline-table;
	float:left;
	margin:14px 0px 0px 10px;
}



#block-lang_dropdown-0{
	display:inline-table;
	width:100px;
	position:absolute;
	top:-18px;
	right:175px;
}

#block-lang_dropdown-0 .content {
	float:right;
}



/*

#search-box {
	border:solid 1px black;
	background-color:#3e3e3e;
	width:999px;
	height:30px;
	/*display:none;
}


#search .form-item label {
	margin-right:100px;
	font-size:14px;
	color:white;
}

#search-box input {
	border:solid 1px black;
}

#search-box .form-text {
	width:150px;
	margin:0px 10px 0px 10px;
}

#search-box #search {
	float:right;
	font-size:12px;
	margin:-3px 2px 0px 0px;
	display:none;
}

#search-box #search #edit-submit {
	border:solid 1px white;

}

*/

