.section-jobposts  #main-wrapper #content {
	display:inline-table;
}


.view-JobPost .form-submit {
	height:22px;
	padding:0px;
	width:100px;
	margin-top:28px !important;
}

.view-JobPost .views-exposed-form .views-submit-button {
	padding-top:0px;
}


.view-JobPost #header-ID, .view-JobPost .id-row{
	width:30px;
	padding-left:5px;
}


/*-------------------------------------------------------------
	Header
-----------------------------------------------------------*/	

.header-container{
	position:relative;
}

.section-jobposts #content-top {
	min-height:175px;
}


.header-container .header-image {
	position:absolute;
	margin-top:-94px;
	z-index:-1;
	margin-left:-172px;
}


.section-jobposts .slideshow-back-strip { height:266px; }


.header-container .header-text {
	position:absolute;
	background:rgba(0,0,0,0.7);
	color:white;
	padding:5px;
	top:30px;
	left:35px;
	display:inline-table;
}

.header-container .header-title {
	font-weight:bold;
	font-size:24px;
}


.header-container .header-byline {
	font-size:14px;
}

/*-------------------------------------------------------------
	DataTable
-----------------------------------------------------------*/	
.section-jobposts .view-content .view-header{
	display: inline-table;

	/* background-color:#005da8; */
	padding: 5px;
	color: #212121;
	font-size: 18px;
	width: 970px;
	border-bottom:solid 3px #005da8;

}

.view-JobPost {
	padding:10px;
}



.section-jobposts .apply-icon {
	display:inline-block;
	margin-top:5px;
	cursor:pointer;
}

.section-jobposts .share-icon { margin-top:-5px; }

.section-jobposts .view-content .jobpost-row .row-1 > div,
.section-jobposts .view-content .view-header > div {
	float:left;
	width:140px;
	text-align:center;
}

.section-jobposts .view-content .jobpost-row {
	display:inline-table;
	width:980px;
	margin-top:2px;
	background-color:#e8e8e8;
}

.section-jobposts .view-content .jobpost-row .row-1 {
	display:inline-table;
}

.section-jobposts .view-content .jobpost-row .row-1 > div{
	height:25px;
	margin-top:15px;
	font-size:13px;

}
.section-jobposts .view-content .jobpost-row .row-1 > div  p{
	margin:0px;
	padding:0px;
}



.section-jobposts .view-content .jobpost-row  .row-1 .jobpost-type{
	/*background-image:url(../stark_images/jobpost_type_sprite.png);
	background-repeat:no-repeat;
	display:inline-block;
	margin-top:5px;
	height:30px;
	background-position:60px 0px;
	position:relative;*/
}

.section-jobposts .jobpost-bottom-container {
	margin-left:20px;
}

.section-jobposts .jobpost-bottom-container h2 {
	font-size:18px;
	font-weight:400;
	margin-bottom:0px;
}

.section-jobposts .jobpost-bottom-container a {
	font-weight:bold;
	text-decoration:underline;
}

.section-jobposts .jobpost-bottom-container p {
	font-size:16px;
}


/*

.section-jobposts .view-content .jobpost-row  .row-1 #term-9 {
	background-position:60px -33px;
}

.section-jobposts .view-content .jobpost-row  .row-1 #term-1 {
	background-position:60px -100px;
}

.section-jobposts .view-content .jobpost-row  .row-1 #term-2 {
	background-position:60px -67px;
}
*/


.view-JobPost #header-JobTitle,
.section-jobposts .view-content .jobpost-row  .row-1 .title-row {  width:280px; }


.section-jobposts .view-content .jobpost-row  .row-1 .id-row{
	width:30px;
}




.jobtype-info-block{
	font-size:12px;
	text-align:center;
	display:inline-block;
}




.section-jobposts .view-content #term-2 {
	background-position:60px -37px;
}

.section-jobposts .view-content .jobpost-row .row-1 .more-info {
	width:55px;
	height:20px;
	background-image:url(../stark_images/more_arrows.png);
	background-repeat:no-repeat;
	background-position:top right;
	text-align:left;
	color:#005da8;
	font-weight:bold;
	font-size:12px;
	cursor:pointer;
	margin-left:2px;

}


.section-jobposts .view-content .jobpost-row .row-1 .open-arrow{
	background-position:40px -30px;
}



.section-jobposts .view-content .jobpost-row .row-1 .more-info:hover{
	text-decoration:underline;
}



.section-jobposts .view-content .jobpost-row .extra-info {
	width:100%;
	display:block;
	text-align:left;
	font-size:13px;
	height:50px;

}
.section-jobposts .view-content .jobpost-row .extra-info p{
	margin:10px 20px 0px 20px;
	padding:0px;
	border-top:solid 1px #999999;
	padding-top:10px;
}


.section-jobposts .view-filters {
	margin-bottom:20px;
}


.section-jobposts .view-content .jobpost-row  .row-1  .job-share,
.section-jobposts .view-content .jobpost-row  .row-1  .job-application{
	display:inline-block;
	height:30px;
	color:#005da8;;
	font-weight:bold;
	font-size:12px;
	width:75px;
	margin-top:10px;
	
}


.section-jobposts .view-content .jobpost-row  .row-1  .job-share > span {
	padding-top:20px;
	display:inline-block;
}

.section-jobposts .view-content .jobpost-row  .row-1  .job-application .arrow-icon,
.section-jobposts .view-content .jobpost-row  .row-1  .job-application .applied-icon {
	background-image:url(../stark_images/jobpost_application_sprite.png);
	background-repeat:no-repeat;
	background-position:25px -6px;
	display:inline-block;
	height:30px;
	width:100%;
}


.section-jobposts .view-content .jobpost-row  .row-1  .job-application .applied-icon { background-position:20px -2px; }

.section-jobposts .view-content .jobpost-row  .row-1  .job-application .arrow-icon { background-position:25px -35px;}









