/*
.primary-links-container {
	display:inline-table;
	background-color: darkGray;
	width: 100%;
}

.primary-links-container .primary-link{
	float:left;
	padding: 5px;
	background-color: gray;
	color: white;
	font-weight:bold;
	font-size:14px;
	padding-right:40px;
	position:relative;
	cursor:pointer;
}	




.primary-links-container .primary-link a {
	text-decoration:none;
	color:white;
}

.primary-links-container .primary-link a:hover {
	text-decoration:underline;
}

.primary-links-container .primary-link ul{
	position: absolute;
	top: 25px;
	background-color: black;
	padding: 10px;
	left: 0px;
}

.primary-links-container .primary-link ul a{
	color:white;
	text-decoration:none;
}

.primary-links-container .primary-link ul a:hover{
	text-decoration:underline;
}

.primary-links-container .primary-link li {
	list-style:none;
	font-weight:400;
	font-size:12px;
	padding-top:5px;

}

*/



#block-menu-primary-links {
	float:right;
	
}

#block-menu-primary-links .menu {
	min-height: 30px;
	display: inline-table;
	margin-top:15px;
	margin-left:150px;
	margin-right:15px;

}

#block-menu-primary-links .dhtml-menu {
	float:left;
	position:relative;
	margin-right:5px;
	font-size:13px;
	width:110px;

}

#block-menu-primary-links .menu .arrow-menu {
	background:url(../stark_images/more_arrows.png);
	background-repeat:no-repeat;
	background-position:49px -35px;
}

#block-menu-primary-links .menu a.active{
	background:url(../stark_images/more_arrows.png);
	background-repeat:no-repeat;
	background-position:49px -35px;
	color:#FFFFFF;

}



/*
#block-menu-primary-links .dhtml-menu .menu{
	position:absolute;
	top:33px;
	left:-23px;
	display:none;
	z-index:20;

}
*/

#block-menu-primary-links .dhtml-menu a{
	text-decoration: none;
	display:inline-block;
	font-weight: bold;
	color:#FFFFFF;
	width:100%;
	height:30px;
	padding-top:10px;
	text-align:center;
	
}

#block-menu-primary-links .dhtml-menu a:hover{
	text-decoration:underline;
}


#block-menu-primary-links ul li,
#block-menu-primary-links ul li .collapsed,
#block-menu-primary-links ul li .expanded{
	list-style-type:none !important;
	list-style-image:none !important;
	
}

#block-menu-primary-links .dhtml-menu  ul {
	width:200px;
}

#block-menu-primary-links .dhtml-menu ul li{
	width:200px;
	color:white;
	font-size:12px;
	list-style:none;
	height:20px;
	padding:5px;
	
}

#block-menu-primary-links .dhtml-menu ul li a{
	text-decoration:none;
}

#block-menu-primary-links .dhtml-menu ul li a:hover{
	text-decoration:underline;
}







