/*-------------------------------------------
	Common Styles
---------------------------------------------*/


.page-invite-bid .form-checkboxes  {
	position:relative;
	display:block;
	min-height:190px;
}


.page-invite-bid .form-checkboxes > div {
	position:absolute;
}

.page-invite-bid .form-checkboxes #edit-submitted-bid-requirements-1-wrapper { top:0px; left:0px;}

.page-invite-bid .form-checkboxes #edit-submitted-bid-requirements-2-wrapper,
.page-invite-bid .form-checkboxes #edit-submitted-bid-requirements-4-wrapper,
.page-invite-bid .form-checkboxes #edit-submitted-bid-requirements-6-wrapper,
.page-invite-bid .form-checkboxes #edit-submitted-bid-requirements-8-wrapper,
.page-invite-bid .form-checkboxes #edit-submitted-bid-requirements-10-wrapper,
.page-invite-bid .form-checkboxes #edit-submitted-bid-requirements-12-wrapper
{ top:0px; left:360px;}




.page-invite-bid .form-checkboxes #edit-submitted-bid-requirements-3-wrapper { top:30px; }

 .page-invite-bid .form-checkboxes #edit-submitted-bid-requirements-4-wrapper { top:30px; }

.page-invite-bid .form-checkboxes #edit-submitted-bid-requirements-5-wrapper { top:60px; }
.page-invite-bid .form-checkboxes #edit-submitted-bid-requirements-6-wrapper { top:60px; }
.page-invite-bid .form-checkboxes #edit-submitted-bid-requirements-7-wrapper { top:90px; }
.page-invite-bid .form-checkboxes #edit-submitted-bid-requirements-8-wrapper { top:90px; }
.page-invite-bid .form-checkboxes #edit-submitted-bid-requirements-9-wrapper { top:120px; }
.page-invite-bid .form-checkboxes #edit-submitted-bid-requirements-10-wrapper { top:120px; }
.page-invite-bid .form-checkboxes #edit-submitted-bid-requirements-11-wrapper { top:150px; }
.page-invite-bid .form-checkboxes #edit-submitted-bid-requirements-12-wrapper { top:150px; }






#node-100, #node-73 {
	width:620px;
	padding:0px 20px 20px 20px;
}	


.page-invite-bid,
.page-contact {

	color:#272727;
	overflow-x:hidden;
}

.page-contact { overflow:hidden; }

.page-invite-bid #edit-submit,
.page-contact #edit-submit {
	width:92px;
	height:22px;
	padding-top:3px;
	margin:32px 0px 0px 257px;

}




/*--------------------------------------------------------
	Invite Bid
----------------------------------------------------------*/

#node-100 label,
#node-100  p {
	font-weight:bold;
	color:#272727;
}


#node-100 submit {
	width:92px;
	height:22px;
}

#node-100 .webform-container-inline label {
	width:100px;
	display:inline-block;
}


#node-100   .webform-container-inline input{
width:192px;
height:23px;
border:solid 1px #272727; 
}

#node-100  .webform-container-inline {
	padding:5px;
}



#node-73 textarea,
#node-100 textarea {
width:616px;
height:182px;
resize:none;
border:solid 1px #272727; 

}

/*--------------------------------------------------------
	Contact Form
----------------------------------------------------------*/


/*
.page-contact .banner-image img {
	border:solid 10px white;

}	

.page-contact #right-side ,
.page-contact #left-side {
	width:450px;
	float:left;
}

.page-contact #left-side {
	margin-right:50px;
}


.page-contact .contact-container{
	width:640px;
	height:500px;

}

.page-contact .byline {
	font-size:12px;
	font-style:italic;


}
*/


.page-contact #webform-component-info-label {
	width:610px;
}


.page-contact .webform-component input {
	border:solid 1px #666666;
	font-size:12px;

}




.page-contact .webform-component #edit-submit {
	float:right;
	margin-right:15px;

}



.page-contact h1 {
	margin:0px;
	padding:0px;
	font-size:22px;
	color:#006699;
	
}

.page-contact .contact-container p{
	font-size:14px;
	color:#333333;
	line-height:30px;
}



.page-contact .webform-component label {
	font-size:13px;
	color:#666666;
	min-width:100px;
	display:inline-block;
	margin-top:15px;
}