/*---------------------------------------------------------
	General Styles
---------------------------------------------------------*/	




/*---------------------------------------------------------
	General Styles
---------------------------------------------------------*/	
.page-user-register #content {
	margin-top:10px;
}


#user-pass,#user-register,#user-login{
	margin:0px 0px 20px 0px;
	padding:0px 10px 10px 10px;

}


#user-pass label, #user-register label, #user-login label {
	font-size:14px;
	text-align:center;
	width:200px;
	font-weight:400;
	text-align:left;
}

#user-login label {
	width:auto;
}



#user-pass label { width:225px; } 


.section-user #node-form input,
#user-register input,
#user-login input {
	width:336px;
	height:22px;
	border:solid 1px gray;
	font-size:12px;
}


.section-user #node-form select { width:336px; }

.section-user #node-form .form-file ,
#user-register .form-file { width:240px; }


.section-user #node-form .form-submit,
#user-register .form-submit { width:93px;  height:22px; padding-top:2px; }


.section-user #node-form  #edit-submit,
#user-register #edit-submit { width:170px; height:23px; }  





#user-login .form-item {	
	margin:auto; 
	margin-bottom:20px; 
	width:310px; 
}


#edit-field-userprofile-totalexperienc-value {  width:47px !important; }


.section-user #node-form,
#user-register .form-item .description ,
#user-login .form-item .description {
	font-size:12px;

}


 

#user-login .form-submit {
	margin-left:393px;
	height:30px;
	width:200px;
}


#user-register  .form-submit:hover,
#user-login  .form-submit:hover {
	background-color:#006699;
	cursor:pointer;
}

/*-----Special register styles ------------------------*/

#user-pass,
#user-register {
	width:600px;
	margin-left:120px;
	margin-bottom:10px;
}

.section-user label 
#user-register label {
	text-align:left;
}


.section-user .form-item, 
#user-register .form-item {
	width:600px;
}


#user-login .register-byline {
	margin: auto;
	width: 410px;
	margin-top: 20px;
	font-size: 15px;
}

#user-login .register-byline a {
	font-size:16px;
	font-weight:bold;

}



/*------------------------------------------------------------
	Edit Profile Page
---------------------------------------------------------------*/

.section-content #content,
.section-user #content,
.section-users #content {
	padding:10px;
}

.section-content #content .field,
.section-users #content .content-profile-display .field {
	margin:15px 0px 15px 0px;
}

.section-user .node-form .form-text {
	width:200px;

}



/*---------------------------------------------------------
	Edit Staff
---------------------------------------------------------*/	



.section-user  #edit-field-staff-profile-monthfile-field-staff-profile-monthfile-add-more  {
	width:200px !important;
}



