


/*--------------------------------------------------------
		About Us Page
-------------------------------------------------------------*/


.node-type-general-page .slidedown-button {
	
	height:12px;
	width:100%;
	display:block;
	cursor:pointer;
	background:url(../stark_images/more-text-arrow.png);
	background-repeat:no-repeat;
	background-position:center 0px;
	background-color:#484848;

}


.node-type-general-page .slidedown-button-inverted {
	background-position:center -18px;
} 



.node-type-general-page  .limit-text {

	
	overflow:hidden;
	max-height:310px;
}

.node-type-general-page .banner-image{
	padding:10px;

}	

.node-type-general-page .row {
	padding:10px;
	display:inline-table;
	margin-bottom:10px;

}

.node-type-general-page .main-content p {
	line-height:25px;
	text-align:justify;
	margin:5px;
}

.node-type-general-page .row .right,
.node-type-general-page .row .left {
	width:575px;
	float:left;

}


.node-type-general-page .main-container {
	font-size:14px;
}

.node-type-general-page .row .right {
	width:380px;
}

.node-type-general-page .row .left { margin-right:20px; }
.node-type-general-page .row .right { display:inline-table; }

.node-type-general-page h2 {
	font-size:14px;
	margin-bottom:0px;
	margin-top:0px;
	margin-left:4px;
}



.node-type-general-page #row-2 .left {
	margin-right:20px;
	width:390px;
}

.node-type-general-page #row-2 .right {
	width:560px;
}		

.node-type-general-page #row-1 .full-width {
	width:970px;
}





